
p { text-align: left; }

.menuItem {
    color: #fff; text-decoration: none; margin-right: 5%;
}

#shop {
    background-image: url('https://codelikeaninja.com/ebay/body_bg.png'); background-size: cover; background-position: center; 
    height: 300vh; padding: 50px;
}

#store {
    background-image: url('https://codelikeaninja.com/ebay/body_bg.png'); background-size: cover; background-position: center;
}
